<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if(messages.success){ %>
    <div class="alert alert-success" role="alert"><%=messages.success %></div>
    <br />
    <% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
